body {
    display: block;
    margin: 8px;
}
form{
    margin-top: 0em;
    display: block;
    margin-block-end: 0em;
}
a:-webkit-any-link {
    color: #0000EE;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    text-decoration: underline;
}
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    text-align: start;
    border-spacing: 2px;
    border-color: grey;
    font-variant: normal;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}